Implement RFC7710 (Captive Portal URI)

Implement decoding of options for RFC 7710 (which basically translates to implementing decoders for 
[RFC7228 Section 5](https://tools.ietf.org/html/rfc7227)).